.actionContainer{
    background-color: rgba(27, 25, 25, 0.3);
    height: 35vh;
    width: 40vw;
    margin: auto;
    margin-top: 10%;
}

.heading{
    font-size: small;
    font-weight: 700;
    padding: 0.8em;
    color: white;
}
.lineHr{
    margin-top: 20%;
}
.actionList{
    width: 90%;
    margin: auto;  
    /* border: 1px solid red; */
}
.actionListItem{
    display: inline-block;
    width: 5vw;
    height: 6vh;
    /* border: 2px solid black; */
    margin-right: 3%;
    margin-top: 2%;
    background-color: white;
    /* border: 1px solid blue; */
}
.actionListItem:hover{
    background-color: #2C5866;
    /* width: 6vw;
    height: 7vh; */
}